/* BigCard */

.card {
	display: block;
	flex-direction: column;
	padding: var(--space-2);
	padding: 9px;
	position: relative;
	width: auto;
	height: auto;
	text-align: center
}

	.card .card__container {
		margin: 0 var(--space-1) 0;
	}

	.card .card__cover {
		width: 100%;
		max-height: 500px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.card .card__cover__none {
		width: auto;
		height: auto;
		background: var(--black);
	}

	.card .card__title {
		font-family: var(--font-family-slab);
		font-weight: 800;
		font-size: var(--font-size-6);
		line-height: var(--line-height-6);
		letter-spacing: -0.025em;
		margin: var(--space-3) 0;
		text-align: center
	}

	.card .card__title__divider {
		display: block;
		max-width: 90px;
		border-top: 2px dotted;
		margin: 0 auto 15px;
	}

	.card .card__excerpt {
		font-family: var(--font-family-serif);
		font-weight: 400;
		font-size: var(--font-size-4);
		line-height: var(--line-height-3);
		margin: 25px 0;
		text-align: left
	}

	.card .card__footer {
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		font-family: var(--font-family-serif);
		font-size: 12px;
		font-style: italic;
		color: #AAAAAA;
		margin-top: calc(var(--space-4) + 7);
		text-align: left
	}

	.card .card__link {
		color: var(--black);
		text-decoration: none;
	}

		.card .card__link:hover {
			opacity: 0.8;
			transition: 0.2s;
		}

		.card .card__link::before {
			content: '';
			position: absolute;
			inset: 0;
		}

	.card:first-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.card:last-child {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}



@media (max-width: 1199px) {
	.card {
		flex-direction: row;
	}

		.card .card__container {
			margin: 0 var(--space-4) 0;
		}

		.card .card__cover,
		.card .card__cover--none {
			max-height: 400px;
		}
}
