.side__container {
	display: grid;
	justify-content: left;
	height: fit-content;
	width: 33%;
	padding: 0 15px 0 15px;
}

.main__container {
	display: flex;
	height: auto;
	width: 1200px;
}

.first__container {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 58.333%;
	padding: 0 15px 0 15px;
}